<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Consulta CEP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Consulta CEP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Consulta CEP</h1>

    <ion-segment value="default">
      <ion-segment-button (click)="CEP_mode=true" value="default">
        <ion-label>Digit CEP</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="CEP_mode=false" value="segment">
        <ion-label>Digit a Sigla do Estado, Cidade e Rua</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="d-flex justify-content-center">
      <ion-input [(ngModel)]="cpf" *ngIf="CEP_mode == true" class="w-25 " placeholder="Insira o CEP desejado Aqui"></ion-input>
      
      <div class="d-flex flex-row" *ngIf="CEP_mode == false">
        <ion-select [(ngModel)]="state" interface="popover" aria-label="Fruit" placeholder="Select all fruits that apply" [multiple]="true">
          <ion-select-option *ngFor="let region of regions;index as i"  [value]="region.sigla">{{ region.nome }} </ion-select-option>
        </ion-select>

        <!--<ion-input [(ngModel)]="state"  class="mx-2" placeholder="Insira a Sigla do Estado desejado Aqui"></ion-input>-->
        <ion-input [(ngModel)]="city" class="mx-2" placeholder="Insira a Cidade desejada Aqui"></ion-input>
        <ion-input [(ngModel)]="street"  class="mx-2" placeholder="Insira a Rua desejada Aqui"></ion-input>
      </div>
    </div>

    <ion-button (click)="search()" class="my-4">Consultar</ion-button>
    <!--<p>{{ api_str }}</p>-->

    <div class="d-flex flex-column" *ngIf="api_return != undefined">
      <div *ngFor="let cep_obj of api_return; index as i;">
        <h1>{{ cep_obj.cep }}</h1>

        <ion-label>Loggradouro: {{ cep_obj.logradouro }}</ion-label>
        <ion-label>Bairro: {{ cep_obj.bairro }}</ion-label>
        <ion-label>Localidade: {{ cep_obj.localidade }}</ion-label>
        <ion-label>Complemento: {{ cep_obj.complemento }}</ion-label>
        <ion-label>DDD: {{ cep_obj.ddd }}</ion-label>
        <ion-label>Uf: {{ cep_obj.uf }}</ion-label>
        <ion-label>IBGE: {{ cep_obj.ibge }}</ion-label>
        <ion-label>Siafi: {{ cep_obj.siafi }}</ion-label>
      </div>
    </div>
  </div>
</ion-content>